@layer reset, theme, base, astryx-base, astryx-theme, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "@astryxdesign/core/reset.css";
@import "@astryxdesign/core/astryx.css";
@import "@astryxdesign/theme-neutral/theme.css";
@import "@astryxdesign/core/tailwind-theme.css";
@import "tailwindcss/utilities.css" layer(utilities);

@layer components {
  html,
  body,
  #root {
    min-width: 360px;
    min-height: 100%;
    margin: 0;
  }

  body {
    background: var(--color-background-body);
    color: var(--color-text-primary);
    font-family: var(--font-family-body);
  }
}
