node_modules/
.nx/
.next/
.tmp*/
**/.output/
**/.wxt/
**/.vite/
**/test-results/
**/out/
playwright-report/
apps/docs/public/excalidraw-assets/
*.bak
*.old

.env*

**/dist/
**/release-artifacts/
**/target/
*.tsbuildinfo

.idea/