node_modules/
coverage/
.nx/
.next/
.source/
.tmp*/
**/.output/
**/.wxt/
**/.vite/
**/test-results/
**/out/
playwright-report/
apps/web/public/excalidraw-assets/
apps/web/generated/
apps/web/public/search/
*.bak
*.old

.env*

**/dist/
**/release-artifacts/
**/target/
*.tsbuildinfo

# node
.nx

# Intellij
.idea/
.vercel
