:where(:root) {
  --radius: 0.5rem;
  --background: #fff;
  --foreground: #0d0d0d;
  --card: #fff;
  --card-foreground: var(--foreground);
  --popover: #fff;
  --popover-foreground: var(--foreground);
  --primary: #0d0d0d;
  --primary-foreground: #fff;
  --secondary: #ededed;
  --secondary-foreground: var(--foreground);
  --muted: #f9f9f9;
  --muted-foreground: #5d5d5d;
  --accent: #f3f3f3;
  --accent-foreground: var(--foreground);
  --destructive: oklch(0.5836 0.1521 18.14);
  --destructive-foreground: oklch(1 0 0);
  --border: #dfdfdf;
  --input: #b9b9b9;
  --ring: #767676;
  --chart-1: var(--primary);
  --chart-2: oklch(0.5534 0.1096 154.63);
  --chart-3: oklch(0.5722 0.1222 70.05);
  --chart-4: oklch(0.6251 0.1098 241.91);
  --chart-5: var(--destructive);
  --sidebar: var(--card);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  --overlay: rgb(0 0 0 / 0.45);
  --font-family-body:
    ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui,
    sans-serif;
  --font-family-heading: var(--font-family-body);
  --font-family-code:
    "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    ui-monospace, monospace;
  --elevation-low: 0 1px 2px -1px rgb(0 0 0 / 0.08);
  --elevation-medium: 0 4px 8px -2px rgb(0 0 0 / 0.1);
  --elevation-high:
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

:where(:root[data-theme="dark"]) {
  --background: #0d0d0d;
  --foreground: #fff;
  --card: #131313;
  --card-foreground: var(--foreground);
  --popover: #181818;
  --popover-foreground: var(--foreground);
  --primary: #fff;
  --primary-foreground: #0d0d0d;
  --secondary: #212121;
  --secondary-foreground: var(--foreground);
  --muted: #181818;
  --muted-foreground: #b9b9b9;
  --accent: #282828;
  --accent-foreground: var(--foreground);
  --destructive: oklch(0.7291 0.1457 18.2);
  --destructive-foreground: oklch(0.2175 0.0042 264.48);
  --border: #303030;
  --input: #4f4f4f;
  --ring: #9f9f9f;
  --chart-1: var(--primary);
  --chart-2: oklch(0.6999 0.0955 153.87);
  --chart-3: oklch(0.7185 0.1313 73.48);
  --chart-4: oklch(0.7131 0.0934 242.75);
  --chart-5: var(--destructive);
  --sidebar: var(--card);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  --overlay: rgb(0 0 0 / 0.72);
  --elevation-low: 0 1px 2px -1px rgb(0 0 0 / 0.2);
  --elevation-medium: 0 4px 8px -2px rgb(0 0 0 / 0.36);
  --elevation-high:
    0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgb(0 0 0 / 0.2);
}
